body{
    


}

header,
footer,
.Title{
    background-color: #1F2937;
    
}

header{
    display: flex;
    gap: 10px;
    color: #f9faf8;
    padding: 2rem 10rem;

}



header h2{
    margin-right: auto;

}



.banners{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items:normal;
   


}


.Title{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 2rem 10rem;

    
}

.Title div{
    background-color: blueviolet;
    flex-shrink: 3 ;
    align-self: center;
    max-width: 30rem;
    display:flex;
    flex-direction: column;
}


.Title h1{
    background-color: blueviolet;
    flex-shrink: 3 ;
    align-self: center;
    max-width: 30rem;

}

.Title img{
    background-color: brown;
    
    flex-shrink: 1;
}

/* colors used for learning purposes*/
.info-panel{
    background-color: aqua;
    
}

ul{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1;
    list-style: none;
    min-height: 20rem;
}

ul li {
    flex-basis: 100%;
    text-align: center;
    
}

.info-panel * p {
    max-width: 19rem;
}

.info-panel .item{
    margin: 20px;

}

.panda-img{
    border-style:inset;
    border-width: .2rem;
    border-color: #3882f6;
    border-radius: 25px;
}


.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    background-color: #e5e7eb;
    align-items: center;


}

.quote p{
    text-align: left;
    align-self:auto;
    margin-right: 10rem;
    max-width: 25rem;
    color:#1f2937;
    font-style: italic;
    font-size: larger;

}
.quote h3{
    text-align: right;
    align-self:auto;
    margin-left: 10rem;
 
}

.Donate{
    display: flex;
    min-height: 7.5rem;
    justify-content:space-evenly;
    align-items: center;
    gap: 5rem;
    background-color: #3882f6;
    border-radius: 25px;
    margin: 5rem 10rem;
    color: #f9faf8;
    
}

.Donate button {
    border-radius: 5px;
    border-color: #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    border-width: .1rem;
    padding: .5rem 1rem;
    font-size: 24px;

}

footer{

  
    text-align: center;
    justify-self: center;
    padding: 1rem;
    color:#f9faf8 ;
    font-size: 20px;
}