body{
    


}

header,
footer,
.Title{
    background-color: #1F2937;
}

ul{
    list-style: none;
}

.banners{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items:normal;


}


.Title{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;

    
}

.Title h1{
    background-color: blueviolet;
    flex-shrink: 3 ;
    align-self: center;
    margin-left: 10rem;
    max-width:fit-content;
}

.Title img{
    background-color: brown;
    margin: 30px ;
    flex-shrink: 1;
}

/* colors used for learning purposes*/
.info-panel{
    background-color: aqua;
    
}

ul{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1;
}

li{
    border-radius: 25%;
}

.info-panel .item{
    margin: 20px;

}

.quote{
    display: flex;

}

.Donate{
    display: flex;

}